general:
  instance_name: "d2d-search"
  debug: false
  privacypolicy_url: false
  contact_url: false

server:
  port: 8080
  bind_address: "0.0.0.0"
  secret_key: "d2d-searxng-2026-change-me"
  limiter: false
  image_proxy: false
  public_instance: false

ui:
  default_theme: simple
  static_use_hash: true

search:
  safe_search: 0
  autocomplete: ""
  default_lang: "en"
  formats:
    - html
    - json

enabled_plugins:
  - 'Hash plugin'
  - 'Self Information'
  - 'Tracker URL remover'
  - 'Hostnames plugin'

engines:
  - name: google
    engine: google
    shortcut: g
    disabled: false

  - name: duckduckgo
    engine: duckduckgo
    shortcut: ddg
    disabled: false

  - name: bing
    engine: bing
    shortcut: b
    disabled: false

  - name: wikipedia
    engine: wikipedia
    shortcut: wp
    disabled: false

  - name: wikidata
    engine: wikidata
    shortcut: wd
    disabled: false

  - name: brave
    engine: brave
    shortcut: br
    disabled: false

  - name: startpage
    engine: startpage
    shortcut: sp
    disabled: false
